<h1><%= @city.name %>, <%= @city.country.name %></h1>
<ol>
<% @city.places.each do |place| %>
  <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
<% end %>
</ol>
<br>
<p>Number of visitors: <%= @city.users.count %></p>
<% @city.users.each do |user| %>
  <li><a href="/users/<%= user.id %>"><%= user.name %></a></li>
<% end %>
<br>