
<binding.pry>
<h1><%= @place.name %></h1>
<% city = City.find_by(name: @place.city.name) %>
<% country = Country.find_by(name: @place.city.country.name) %>
<p>City: <a href="/cities/<%= city.id %>"><%= city.name %></a></p>
<p>Country: <a href="/countries/<%= country.id %>"><%= country.name %></a></p>
<p>User(s) who visited:</p>
<% @place.users.each do |user| %>
  <li><a href="/users/<%= user.id %>"><%= user.name %></a></li>
<% end %>
<br>
<a href="/places/<%= @place.id %>/edit">Edit place</a>
<form method ="POST" action="/places/<%= @place.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="delete" value="Delete Place">
</form>
